{% load static %}
<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Landing page</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static "/css/style.css" %}">
        <script src="{% static "/js/app.js" %}" async defer></script>
    </head>
    <body>
    {% include "LoginSignup/navbar.html" %}
        {% block main-block %}
            replace me 
        {% endblock main-block %}
        
        
    {% include "LoginSignup/footer.html" %}
    </body>
</html>
