{% extends "LoginSignup/base.html" %}
{% load static %}
{% block main-block %}
    <div class="form">
        <form method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <input type="email" name="email" id="email" placeholder="Email">
            <input type="password" name="password" id="password" placeholder="Password">
            <input type="button" value="login">
        </form>
                I dont have an account <a href="{% url "signup" %}">Sign In</a>
    </div> 
{% endblock main-block %}
{% include "LoginSignup/footer.html" %}