body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: white;
}

.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px;
    padding: 10px;
    position: sticky;
}

#logo{
    width: 15px;
    border-radius: 15px;
}
#chart{
    width: 15px;
    border-radius: 15px;
    
}
.image-home{
    border: 30px;
    padding: 10px;
    border-radius:  25px;
    
}
.gallery{
    
}