{% extends "artApp/base.html" %}
{% load static %}

{% block main-content %}
<section class="about-section">
    <div class="container">
        <div class="about-content">
            <div class="about-image">
                <img src="{% static 'images/homeimage.jpeg' %}" alt="About Us Image">
            </div>
            <div class="about-text">
                <h2>About Us</h2>
                <p>
                    Born on May 11, 1904, in Figueres, Spain, Salvador Dalí was a highly skilled artist known for his eccentric behavior and dramatic work. His work often explored themes of dreams, death, and decay, and he was heavily influenced by psychoanalysis. Dalí became a leading figure of the Surrealist movement, which sought to express the unconscious mind through art.
                </p>
                <p>
                    A master of painting, drawing, sculpture, and film, Dalí's art is characterized by its meticulous detail and bizarre, fantastical imagery. He produced some of his most famous works, such as "The Persistence of Memory," in the 1930s. His unique style and larger-than-life personality made him a global celebrity.
                </p>
                <p>
                    Dalí's artistic career spanned over six decades, and he continued to push creative boundaries throughout his life, cementing his legacy as one of the most important artists of the 20th century.
                </p>
            </div>
        </div>
    </div>
</section>
{% endblock main-content %}
