{% extends 'artApp/base.html' %}
{% load static %}
       {% block main-content %}
       <picture class="gallery">
            <div class="content">
                <aside>
                    <img src="{% static "images/image1.jpg" %}" alt="image1" id="left">
                    <img src="{% static "images/image2.jpg" %}" alt="image2" id="right">
                </aside>
            </div>
            <img src="{% static "images/image3.jpg" %}" alt="image3">
            <img src="{% static "images/image4.jpg" %}" alt="image4">
            <img src="{% static "images/image5.jpg" %}" alt="image5">
            <img src="{% static "images/#art#basquiat#newyorkart.jpeg" %}" alt="image6">
            <img src="{% static "images/51ce2fdf-28c3-4498-939f-e1dd9c84e992.jpeg" %}" alt="image7">
            <img src="{% static "images/A vibrant piece of art inspired by Jean-Michel….jpeg" %}" alt="image8">
            <img src="{% static "images/c36dad9b-0e98-4a5d-9c42-e989c7c9e927.jpeg" %}" alt="image9">
            <img src="{% static "images/Graffiti Inspired Portrait Headshot inspired by….jpeg" %}" alt="image10">
            <img src="{% static "images/This painting in the style of Basquiat depicts a….jpeg" %}" alt="image11">
       </picture>
       {% endblock %}
      
       {% include "footer.html" %}
    </body>
</html>
