{% extends "artApp/base.html" %}
{% load static %}
{% block main-content %}
<section class="gallery-section">
    <div class="container">
        <h2 class="section-title">Gallery</h2>
        <div class="gallery-grid">
            <div class="gallery-item">
                <img src="{% static 'images/image1.jpg' %}" alt="Artwork 1">
            </div>
            <div class="gallery-item">
                <img src="{% static 'images/image2.jpg' %}" alt="Artwork 2">
            </div>
            <div class="gallery-item">
                <img src="{% static 'images/image3.jpg' %}" alt="Artwork 3">
            </div>
            <div class="gallery-item">
                <img src="{% static 'images/image4.jpg' %}" alt="Artwork 4">
            </div>
            <div class="gallery-item">
                <img src="{% static 'images/image5.jpg' %}" alt="Artwork 5">
            </div>
            <div class="gallery-item">
                <img src="{% static 'images/image1.jpg' %}" alt="Artwork 6">
            </div>
            <div class="gallery-item">
                <img src="{% static 'images/image2.jpg' %}" alt="Artwork 7">
            </div>
            <div class="gallery-item">
                <img src="{% static 'images/image3.jpg' %}" alt="Artwork 8">
            </div>
            <div class="gallery-item">
                <img src="{% static 'images/image4.jpg' %}" alt="Artwork 9">
            </div>
        </div>
    </div>
</section>
{% endblock main-content %}
