{% extends 'artApp/base.html' %}
{% load static %}
       {% block main-content %}
               <aside>
            <div class="image-home">
                <img src="./images/homeimage.jpeg" alt="mainArt" id="home-image">
            </div>
       </aside>
       <article id="home-article">
            <h3>
                    This is a paragraph
            </h3>
            <section>
               This striking image is "The Burning Giraffe," a famous oil painting by the Spanish Surrealist master Salvador Dalí, created in 1937.

The painting is a powerful allegory of war and decay, created while the Spanish Civil War was raging. Dalí's work is deeply influenced by the psychoanalytic theories of Sigmund Freud, which is most evident in the two female figures with open drawers protruding from their bodies. These drawers symbolize the hidden secrets and subconscious desires of the human mind, which can only be revealed through psychoanalysis.

The prominent figure is propped up by crutch-like objects, a recurring motif in Dalí's work that represents decay and a form of artificial support. The burning giraffe in the background, a symbol Dalí referred to as a "masculine cosmic apocalyptic monster," serves as a chilling premonition of the global conflict that was soon to erupt in World War II.

This piece is an excellent example of Surrealism's core principles—using dream-like imagery and irrational juxtapositions to explore the inner world and challenge conventional reality.
            </section>
            
       </article>
       <button type="button" id="shoping">Shop now</button>
       {% endblock %}
    {% include "footer.html" %}
    </body>
</html>
