{% load static %}
<nav>
    <div class="nav-bar">
        <a href="{% url 'home' %}">
            <img src="{% static "./images/Gemini_Generated_Image_3j3snt3j3snt3j3s.png" %}" alt="logo" id="logo">
        </a>
        <ul class="links">
            <li>
                <a href="{% url "home" %}">Home</a>
            </li>
            <li>
                <a href="{% url "about" %}">About</a>
            </li>
            <li>
                <a href="{% url "contact" %}">Contact</a>
            </li>
            <li>
                <a href="{% url "gallery" %}">Gallery</a>
            </li>
            <li>
                <a href="{% url "login" %}">Login</a>
            </li>
            <li>
                <a href="{% url "shopping" %}"><img src="{% static "./images/shopping-cart.svg" %}" alt="shopping cart"></a>
            </li>
        </ul>
    </div>
</nav>