<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="style.css">
         <script src="" async defer></script>
    </head>
    <body>
        <fieldset>
            <div class="form">
                <form method="post">
                    {{ form.as_p }}
                    <input type="email" name="email" id="email" placeholder="Email">
                    <input type="password" name="password" id="password" placeholder="Password">
                    <input type="button" value="Signup">
                </form>
                I already have an account <a href="login.html">Login</a>
            </div>
        </fieldset>
        {% include "footer.html" %}
    </body>
</html>